{% load static  %}


    {% block content %}
      


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>doubtnut</title>
</head>

<body>
    <header class="head">
        <div class="up">
            doubtnut
            <form class="search">
                <input type="text" class="form-control" placeholder="Enhanced By Google">
            </form>
        </div>

        <nav class="navbar">
            <ul class="nav_links">

                <div class="dropdown">
                    <li> <a href="">Course</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">NCERT</a>
                        <a href="">IIT JEE</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">Exams</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Allen test Solution</a>
                        <a href="">Jee Mains</a>
                        <a href="">Jee Advanced</a>
                        <a href="">X board</a>
                        <a href="">XII board</a>
                        <a href="">NEET</a>
                    </div>
                </div>


                <div class="dropdown">
                    <li> <a href="">Study Material</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">RD Sharma/RS Agarwal</a>
                        <a href="">NCERT</a>
                        <a href="">NCERT हिन्दी</a>
                        <a href="">Cengage/G. Tiwani</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">Books</a> </li>
                    <i class="fas fa-chevron-circle-down df "></i>

                    <div class="dropdown-content">
                        <a href="">Physics</a>
                        <a href="">Chemistry</a>
                        <a href="">Biology</a>
                        <a href="">Maths</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">PDF's</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Class 12</a>
                        <a href="">Class 11</a>
                        <a href="">Class 10</a>
                        <a href="">Class 9</a>
                        <a href="">Class 8</a>
                        <a href="">Class 7</a>
                        <a href="">Class 6</a>
                    </div>
                </div>

                <li> <a href="">Crash Course</a> </li>
                <li> <a href="">Blog</a> </li>
                <li> <a href="">Dictionary</a> </li>

                <div class="dropdown">
                    <li> <a href="">More</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Download</a>
                        <a href="">Get App</a>
                        <a href="">About Us</a>
                        <a href="">Careers</a>
                        <a href="">Toppers Talk</a>
                        <a href="">Blog</a>
                    </div>
                </div>

            </ul>
        </nav>

    </header>

    <div class="boxx">
        <div class="boxx-content">
            Alleen Test 2020
        </div>
        <a class="boxx-content" id="test" href="">Major test 1</a>
        <a class="boxx-content" id="test" href="">Major test 2</a>
        <a class="boxx-content" id="test" href="">Major test 3</a>
        <a class="boxx-content" id="test" href="">Major test 4</a>
        <a class="boxx-content" id="test" href="">Major test 5</a>
        <a class="boxx-content" id="test" href="">Major test 6</a>
        <a class="boxx-content" id="test" href="">Major test 7</a>
        <a class="boxx-content" id="test" href="">Major test 8</a>
        <a class="boxx-content" id="test" href="">Major test 9</a>
        <a class="boxx-content" id="test" href="">Major test 10</a>
    </div>


    </div>

    <footer id="footer">
        <h4 style="color: aliceblue; padding-top: 10px; ">Classes</h4>
        <div class="main-content1">
            <div class="content1">
                NCERT Solution for class 6 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 7 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 8 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 9 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 10 Maths
            </div>


            <div class="content1">
                NCERT Solution for class 11 Maths
            </div>


            <div class="content1">
                NCERT Solution for class 12 Maths
            </div>
        </div>

        <h4 style="color: aliceblue  ; padding-top: 15px;">Popular Chapter By Class</h4>


        <div class="main-content">
            <div class="content">
                <p>Class 6</p>
                <p>ALGEBRA Class 6 Maths</p>
                <p>BASIC GEOMETRICAL IDEAS Class 6 Maths</p>
                <p>DATA HANDLING Class 6 Maths</p>
                <p> DECIMALS Class 6 Maths</p>
                <p> FRACTIONS Class 6 Maths</p>
            </div>

            <div class="content">
                Class 7 <br>
                ALGEBRAIC EXPRESSIONS Class 7 Maths <br>
                COMPARING QUANTITIES Class 7 Maths <br>
                CONGRUENCE OF TRIANGLES Class 7 Maths<br>
                DATA HANDLING Class 7 Maths<br>
                EXPONENTS AND POWERS Class 7 Maths
            </div>

            <div class="content">
                Class 8<br>
                ALGEBRAIC EXPRESSIONS AND IDENTITIES Class 8 Maths<br>
                COMPARING QUANTITIES Class 8 Maths<br>
                CUBES AND CUBE ROOT Class 8 Maths<br>
                DATA HANDLING Class 8 Maths<br>
                DIRECT AND INVERSE PROPORTIONS Class 8 Maths
            </div>

            <div class="content">
                Class 9<br>
                AREAS OF PARALLELOGRAMS AND TRIANGLES Class 9 Maths<br>
                CIRCLES Class 9 Maths<br>
                COORDINATE GEOMETRY Class 9 Maths<br>
                HERONS FORMULA Class 9 Maths<br>
                INTRODUCTION TO EUCLIDS GEOMETRY Class 9 Maths
            </div>

            <div class="content">
                Class 10<br>
                AREAS RELATED TO CIRCLES Class 10 Maths<br>
                ARITHMETIC PROGRESSIONS Class 10 Maths<br>
                CIRCLES Class 10 Maths<br>
                COORDINATE GEOMETRY Class 10 Maths<br>
                INTRODUCTION TO TRIGONOMETRY Class 10 Maths
            </div>

            <div class="content">
                Class 11<br>
                BINOMIAL THEOREM Class 11 Maths<br>
                COMPLEX NUMBERS AND QUADRATIC EQUATIONS Class 11 Maths<br>
                CONIC SECTIONS Class 11 Maths<br>
                INTRODUCTION TO THREE DIMENSIONAL GEOMETRY Class 11 Maths<br>
                LIMITS AND DERIVATIVES Class 11 Maths
            </div>

            <div class="content">
                Class 12<br>
                APPLICATION OF DERIVATIVES Class 12 Maths<br>
                APPLICATION OF INTEGRALS Class 12 Maths<br>
                CONTINUITY AND DIFFERENTIABILITY Class 12 Maths<br>
                DETERMINANTS Class 12 Maths<br>
                DIFFERENTIAL EQUATIONS Class 12 Maths
            </div>
        </div>
    </footer>

</body>

</html>

{% endblock content %}