{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>doubtnut</title>
</head>

<body>
    <header class="head">
        <div class="up">
            doubtnut
            <form class="search">
                <input type="text" class="form-control" placeholder="Enhanced By Google">
            </form>
        </div>

        <nav class="navbar">
            <ul class="nav_links">

                <div class="dropdown">
                    <li> <a href="">Course</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">NCERT</a>
                        <a href="">IIT JEE</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">Exams</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Allen test Solution</a>
                        <a href="">Jee Mains</a>
                        <a href="">Jee Advanced</a>
                        <a href="">X board</a>
                        <a href="">XII board</a>
                        <a href="">NEET</a>
                    </div>
                </div>


                <div class="dropdown">
                    <li> <a href="">Study Material</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">RD Sharma/RS Agarwal</a>
                        <a href="">NCERT</a>
                        <a href="">NCERT हिन्दी</a>
                        <a href="">Cengage/G. Tiwani</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">Books</a> </li>
                    <i class="fas fa-chevron-circle-down df "></i>

                    <div class="dropdown-content">
                        <a href="">Physics</a>
                        <a href="">Chemistry</a>
                        <a href="">Biology</a>
                        <a href="">Maths</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">PDF's</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Class 12</a>
                        <a href="">Class 11</a>
                        <a href="">Class 10</a>
                        <a href="">Class 9</a>
                        <a href="">Class 8</a>
                        <a href="">Class 7</a>
                        <a href="">Class 6</a>
                    </div>
                </div>

                <li> <a href="">Crash Course</a> </li>
                <li> <a href="">Blog</a> </li>
                <li> <a href="">Dictionary</a> </li>

                <div class="dropdown">
                    <li> <a href="">More</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Download</a>
                        <a href="">Get App</a>
                        <a href="">About Us</a>
                        <a href="">Careers</a>
                        <a href="">Toppers Talk</a>
                        <a href="">Blog</a>
                    </div>
                </div>

            </ul>
        </nav>

    </header>

    <div class="boxx">
        <div class="box-container">
            <a id="test" href="">Home</a>
            <span>&nbsp;/&nbsp;</span>
            JEE ADVANCED
            <h1>
                JEE ADVANCED Previous year Question Paper with Solutions Maths
            </h1>
            <h2>
                JEE ADVANCED Last 12 years (2007-2018) Maths Question Paper with Solutions
            </h2>
        </div>
        <div class="pdf-div">
            <a href="">
                <div id="pdf-div"
                    style="margin-top: 5px; height: 30px; border-radius: 5px; background: yellow; width: 100%;">
                    <p id="pdf-text" style="color: black; padding:6px 500px; margin-left: 1%; font-size: 12px;">Best
                        Colleges as per JEE
                        Mains Rank
                    </p>
                </div>
            </a><a href="">
                <div id="pdf-div"
                    style="margin-top: 5px; border-radius: 5px; height: 30px; background: rgb(243, 117, 14); width: 100%;">
                    <p id="pdf-text"
                        style="color: white; margin-left: 1%; padding:6px 500px; font-size: 12px; text-shadow: rgb(0, 0, 0) 2px 2px 5px;">
                        College Predictor - Department, Quota, Category
                    </p>
                </div>
            </a>
        </div>
        <div>
            <p class="about">
                Joint Entrance Examination – Advanced (JEE-Advanced), formerly the Indian Institutes of Technology-Joint
                Entrance Examination (IIT-JEE) is an annual engineering college entrance examination in India. It is
                conducted by one of the seven zonal IITs (IIT Roorkee, IIT Kharagpur, IIT Delhi, IIT Kanpur, IIT Bombay,
                IIT Madras, and IIT Guwahati ) under guidance of the Joint Admission Board(JAB). It is used as the sole
                admission test by the 23 Indian Institute of Technology (IITs). In short we can say it is gateway to
                best prestigious institutions of India. If students want to crack JEE Advanced exams , practise JEE
                Advanced previous question paper regularly. Doubtnut provides you JEE Advanced previous year question
                paper for Maths with video solutions in hindi. We provide you detailed and step by step solutions to
                each questions of JEE Advanced previous year Maths question paper. Students should practise question
                paper on a regular basis in a exam time limit so that they wouldnot face any difficulties. To crack JEE
                Advanced examinations succefully one need to score more than the cutoff in the examinations. For a good
                preparation in exams there is a need to practise previous year question paper. Solving previous year
                question paper will make all the students understand the patten of question papers and will also help
                them to understand the approaches to solve the questions of JEE Advanced previous year paper with
                solutions. As solving previous year question papers is an important part of preparation of competetive
                examinations like JEE Mains, JEE Advanced etc.Click here to view the JEE Advanced previous questions
                paper for Maths with video solutions for each questions.
            </p>
        </div>
        <div class="desc-box">
            <div class="desc-box-cont">
                <a href="" style="color:blue; float:left;">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left;">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
            </div>

        </div>
        <p class="about" style="margin-top: 20px;">
            We provide JEE Advanced previous year questions paper from 2006 to 2018 with solutions available for Maths.
            All questions of JEE Advanced previous year paper are arranged yearwise.Select year to view solutions for
            Maths of the corresponding year.The previous year question paper for Maths provided by Doubtnut has IIT JEE
            mains entrance exams questions which consists of previous year papers of mathematics questions with
            solutions.The toppers of JEE Advanced suggests other students to study the NCERT books to clear the basic
            concepts or to get the basic idea of the subject that would help them to understand the concepts of JEE
            Advanced topics. If students want to crack the exams, they should practise JEE Advanced previous year
            question papers within the time limits so that this will help students to get habituated to solve the
            question paper in the fixed time frame. Practising of question paper according to time management is
            important so that they can evaluate their strengths and weaknesses in the subject. This would help them to
            analyze that which topics are important for examination point of view.This will enable them to focus on
            areas on which they need to pay more attention. Doubtnut’s JEE advanced previous year question paper with
            video solutions for Maths is a great tool which can help the students to get familiarised with the Maths
            question paper pattern and the marking scheme. Solving JEE advanced previous year question paper will help
            you to identify questions which are often repeated in various ways in the examination. Click below the links
            for see the video solutions of JEE Advanced previous year question paper for Maths year-wise from
            (2006-2018) which have been solved by our Maths experts IITians as per the CBSE guidelines. Here is the list
            of last 5 important years of JEE Advanced Maths Solutions.
        </p>

        <p style="margin-top: 20px;">
        <h3 class="about">
            Key features of JEE Advanced Solutions :-
        </h3>
        <p class="about">
            (i) JEE Advanced previous year Maths question paper with video solutions are created by our Maths experts
            IITians following up the CBSE guidelines.
        </p>
        <p class="about">
            (ii) All the questions of JEE Advanced paper with solutions are explained in a detailed and ste by step way.
        </p>
        <p class="about">
            (iii)Students get to know that which topics are important for the examination point of view.
        </p>
        <p class="about">
            (iv) This video soluthis will help the students to develop the problem solving skills and approaches to
            solve the difficult questions.
        </p>
        </p>

        <div>
            <h3 class="about" style="margin-top: 40px;">
                Share this on :-
            </h3>
            <div class="about">
                <button style="background-color:#3b5998; height: 33px; width:100px; border-radius:5px;"><span style="color:white">Facebook</span></button>
                <button style="background-color:#4FCE5D; height: 33px; width:100px; border-radius:5px;"><span style="color:white">Whatsapp</span></button>
            </div>
        </div>
    </div>


    </div>

    <footer id="footer">
        <h4 style="color: aliceblue; padding-top: 10px; ">Classes</h4>
        <div class="main-content1">
            <div class="content1">
                NCERT Solution for class 6 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 7 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 8 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 9 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 10 Maths
            </div>


            <div class="content1">
                NCERT Solution for class 11 Maths
            </div>


            <div class="content1">
                NCERT Solution for class 12 Maths
            </div>
        </div>

        <h4 style="color: aliceblue  ; padding-top: 15px;">Popular Chapter By Class</h4>


        <div class="main-content">
            <div class="content">
                <p>Class 6</p>
                <p>ALGEBRA Class 6 Maths</p>
                <p>BASIC GEOMETRICAL IDEAS Class 6 Maths</p>
                <p>DATA HANDLING Class 6 Maths</p>
                <p> DECIMALS Class 6 Maths</p>
                <p> FRACTIONS Class 6 Maths</p>
            </div>

            <div class="content">
                Class 7 <br>
                ALGEBRAIC EXPRESSIONS Class 7 Maths <br>
                COMPARING QUANTITIES Class 7 Maths <br>
                CONGRUENCE OF TRIANGLES Class 7 Maths<br>
                DATA HANDLING Class 7 Maths<br>
                EXPONENTS AND POWERS Class 7 Maths
            </div>

            <div class="content">
                Class 8<br>
                ALGEBRAIC EXPRESSIONS AND IDENTITIES Class 8 Maths<br>
                COMPARING QUANTITIES Class 8 Maths<br>
                CUBES AND CUBE ROOT Class 8 Maths<br>
                DATA HANDLING Class 8 Maths<br>
                DIRECT AND INVERSE PROPORTIONS Class 8 Maths
            </div>

            <div class="content">
                Class 9<br>
                AREAS OF PARALLELOGRAMS AND TRIANGLES Class 9 Maths<br>
                CIRCLES Class 9 Maths<br>
                COORDINATE GEOMETRY Class 9 Maths<br>
                HERONS FORMULA Class 9 Maths<br>
                INTRODUCTION TO EUCLIDS GEOMETRY Class 9 Maths
            </div>

            <div class="content">
                Class 10<br>
                AREAS RELATED TO CIRCLES Class 10 Maths<br>
                ARITHMETIC PROGRESSIONS Class 10 Maths<br>
                CIRCLES Class 10 Maths<br>
                COORDINATE GEOMETRY Class 10 Maths<br>
                INTRODUCTION TO TRIGONOMETRY Class 10 Maths
            </div>

            <div class="content">
                Class 11<br>
                BINOMIAL THEOREM Class 11 Maths<br>
                COMPLEX NUMBERS AND QUADRATIC EQUATIONS Class 11 Maths<br>
                CONIC SECTIONS Class 11 Maths<br>
                INTRODUCTION TO THREE DIMENSIONAL GEOMETRY Class 11 Maths<br>
                LIMITS AND DERIVATIVES Class 11 Maths
            </div>

            <div class="content">
                Class 12<br>
                APPLICATION OF DERIVATIVES Class 12 Maths<br>
                APPLICATION OF INTEGRALS Class 12 Maths<br>
                CONTINUITY AND DIFFERENTIABILITY Class 12 Maths<br>
                DETERMINANTS Class 12 Maths<br>
                DIFFERENTIAL EQUATIONS Class 12 Maths
            </div>
        </div>
    </footer>

</body>

</html>