{% load static  %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>doubtnut</title>
</head>

<body>
    <header class="head">
        <div class="up">
            doubtnut
            <form class="search">
                <input type="text" class="form-control" placeholder="Enhanced By Google">
            </form>
        </div>

        <nav class="navbar">
            <ul class="nav_links">

                <div class="dropdown">
                    <li> <a href="">Course</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">NCERT</a>
                        <a href="">IIT JEE</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">Exams</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Allen test Solution</a>
                        <a href="">Jee Mains</a>
                        <a href="">Jee Advanced</a>
                        <a href="">X board</a>
                        <a href="">XII board</a>
                        <a href="">NEET</a>
                    </div>
                </div>


                <div class="dropdown">
                    <li> <a href="">Study Material</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">RD Sharma/RS Agarwal</a>
                        <a href="">NCERT</a>
                        <a href="">NCERT हिन्दी</a>
                        <a href="">Cengage/G. Tiwani</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">Books</a> </li>
                    <i class="fas fa-chevron-circle-down df "></i>

                    <div class="dropdown-content">
                        <a href="">Physics</a>
                        <a href="">Chemistry</a>
                        <a href="">Biology</a>
                        <a href="">Maths</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">PDF's</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Class 12</a>
                        <a href="">Class 11</a>
                        <a href="">Class 10</a>
                        <a href="">Class 9</a>
                        <a href="">Class 8</a>
                        <a href="">Class 7</a>
                        <a href="">Class 6</a>
                    </div>
                </div>

                <li> <a href="">Crash Course</a> </li>
                <li> <a href="">Blog</a> </li>
                <li> <a href="">Dictionary</a> </li>

                <div class="dropdown">
                    <li> <a href="">More</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Download</a>
                        <a href="">Get App</a>
                        <a href="">About Us</a>
                        <a href="">Careers</a>
                        <a href="">Toppers Talk</a>
                        <a href="">Blog</a>
                    </div>
                </div>

            </ul>
        </nav>

    </header>

    <div class="boxx">
        <div class="box-container">
            <a id="test" href="">Home</a>
            <span>&nbsp;/&nbsp;</span>
            JEE MAINS
            <h1>
                JEE MAINS Previous year Question Paper with Solutions Maths
            </h1>
            <h2>
                JEE MAINS Last 13 years (2007-2019) Maths Question Paper with Solutions
            </h2>
        </div>
        <div class="pdf-div">
            <a href="">
                <div id="pdf-div"
                    style="margin-top: 5px; height: 30px; border-radius: 5px; background: yellow; width: 100%;">
                    <p id="pdf-text" style="color: black; padding:6px 500px; margin-left: 1%; font-size: 12px;">Best
                        Colleges as per JEE
                        Mains Rank
                    </p>
                </div>
            </a><a href="">
                <div id="pdf-div"
                    style="margin-top: 5px; border-radius: 5px; height: 30px; background: rgb(243, 117, 14); width: 100%;">
                    <p id="pdf-text"
                        style="color: white; margin-left: 1%; padding:6px 500px; font-size: 12px; text-shadow: rgb(0, 0, 0) 2px 2px 5px;">
                        College Predictor - Department, Quota, Category
                    </p>
                </div>
            </a>
        </div>
        <div>
            <p class="about">
                Get free IIT JEE mains previous year question paper with solutions for Maths yearwise. Joint Entrance
                Examination – Main (JEE-Main), formerly All India Engineering Entrance Examination (AIEEE), is an
                examination organised by the Central Board of Secondary Education (CBSE) in India. Introduced in the
                year 2002, this national level competitive test is for admission to various undergraduate engineering
                and architecture courses in institutes accepting the AIEEE score, mainly 31 National Institutes of
                Technology (NITs) and 23 Indian Institute of Information Technology (IIITs). Therefore it is very
                important to score good in <a href="/jee/jee-mains" style="color: blue;">JEE Mains</a>. The examination,
                originally called sometimes AIEEE, was
                renamed as Joint Entrance Examination (Main) in April 2017. From 2019,States like Odisha, Madhya
                Pradesh, Haryana, Uttarakhand and Nagaland & some other institutions use JEE Main ranks for admissions;
                however, admission criteria for the mentioned states will be notified by the concerned state authorities
                only. JEE Mains will be conducted two times in a year and it will be conducted by National Testing
                Agency (NTA) in computer test mode only. The examination consists of only two papers: Paper 1 for
                B.E./BTech courses and Paper 2 for BArch courses. Click below the links for see the video solutions of
                JEE Mains previous year question paper for Maths year-wise from (2007-2018) which have been solved by
                our Maths experts IITians as per the CBSE guidelines.
            </p>
        </div>
        <div class="desc-box">
            <div class="desc-box-cont">
                <a href="" style="color:blue; float:left;">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left;">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
                <a href="" style="color:blue; float:left">JEE mains Year 2019 Maths Solutions</a>
            </div>

        </div>
        <p class="about" style="margin-top: 20px;">
            Doubtnut offers JEE Mains previous year question paper with solutions from 2007 to 2018. The JEE Mains
            previous year question paper for Maths provided by Doubtnut has entrance exams questions which consists of
            previous year papers of IITJEE mathematics questions with solutions.The toppers of JEE Mains suggests other
            students to study the NCERT books to clear the basic concepts or to get the basic idea of the subject that
            would help them to understand the concepts of JEE Advanced topics. If students want to crack JEE Mains
            exams, they should practise JEE Mains previous year question papers within the time limits so that this will
            help students to get habituated to solve the question paper in the fixed time frame. Practising of JEE Mains
            question paper according to time management is important so that they can evaluate their strengths and
            weaknesses in the subject. This would help them to analyze that which topics are important for JEE Mains
            examination point of view.This will enable them to focus on areas on which they need to pay more attention.
            Doubtnut’s JEE Mains previous year question paper with video solutions for Maths is a great tool which can
            help the students to get familiarised with the Maths question paper pattern and the marking scheme. Solving
            previous year question paper will help you to identify questions which are often repeated in various ways in
            the examination.
        </p>

        <p class="about" style="margin-top: 20px;">
            JEE Mains previous year question paper for Maths is provided along with video solutions where the solutions
            for each questions are explained in a detailed and step by step manner. This solutions for previous year
            question paper for Maths have been reviewed by our Maths experts IITians folllowing up the CBSE guidelines.
            You can get here 100% accurate and detailed soluions for each of the questions of mains paper for Maths. If
            in case if you have any doubts or you are stucking in a Math problem while practising Maths question paper.
            Then watch the video of the question of question paper and understand the concepts of solving questions. And
            if you have any doubts in Maths you can ask it on our app Doubtnut because Doubtnut is only the India's
            online education platform provides video solutions for Maths in hindi which would be helpful for all the
            students who are from hindi medium or english medium too.Select year to view JEE Mains previous year
            question papers with video solutions for Maths and if you want to learn the concepts for JEE Mains watch the
            IIT JEE video lectures for Maths which is available here chapter-wise in our website Doubtnut. Here is the
            list of last 5 important years of JEE Mains Maths Solutions.
        </p>
    </div>


    </div>

    <footer id="footer">
        <h4 style="color: aliceblue; padding-top: 10px; ">Classes</h4>
        <div class="main-content1">
            <div class="content1">
                NCERT Solution for class 6 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 7 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 8 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 9 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 10 Maths
            </div>


            <div class="content1">
                NCERT Solution for class 11 Maths
            </div>


            <div class="content1">
                NCERT Solution for class 12 Maths
            </div>
        </div>

        <h4 style="color: aliceblue  ; padding-top: 15px;">Popular Chapter By Class</h4>


        <div class="main-content">
            <div class="content">
                <p>Class 6</p>
                <p>ALGEBRA Class 6 Maths</p>
                <p>BASIC GEOMETRICAL IDEAS Class 6 Maths</p>
                <p>DATA HANDLING Class 6 Maths</p>
                <p> DECIMALS Class 6 Maths</p>
                <p> FRACTIONS Class 6 Maths</p>
            </div>

            <div class="content">
                Class 7 <br>
                ALGEBRAIC EXPRESSIONS Class 7 Maths <br>
                COMPARING QUANTITIES Class 7 Maths <br>
                CONGRUENCE OF TRIANGLES Class 7 Maths<br>
                DATA HANDLING Class 7 Maths<br>
                EXPONENTS AND POWERS Class 7 Maths
            </div>

            <div class="content">
                Class 8<br>
                ALGEBRAIC EXPRESSIONS AND IDENTITIES Class 8 Maths<br>
                COMPARING QUANTITIES Class 8 Maths<br>
                CUBES AND CUBE ROOT Class 8 Maths<br>
                DATA HANDLING Class 8 Maths<br>
                DIRECT AND INVERSE PROPORTIONS Class 8 Maths
            </div>

            <div class="content">
                Class 9<br>
                AREAS OF PARALLELOGRAMS AND TRIANGLES Class 9 Maths<br>
                CIRCLES Class 9 Maths<br>
                COORDINATE GEOMETRY Class 9 Maths<br>
                HERONS FORMULA Class 9 Maths<br>
                INTRODUCTION TO EUCLIDS GEOMETRY Class 9 Maths
            </div>

            <div class="content">
                Class 10<br>
                AREAS RELATED TO CIRCLES Class 10 Maths<br>
                ARITHMETIC PROGRESSIONS Class 10 Maths<br>
                CIRCLES Class 10 Maths<br>
                COORDINATE GEOMETRY Class 10 Maths<br>
                INTRODUCTION TO TRIGONOMETRY Class 10 Maths
            </div>

            <div class="content">
                Class 11<br>
                BINOMIAL THEOREM Class 11 Maths<br>
                COMPLEX NUMBERS AND QUADRATIC EQUATIONS Class 11 Maths<br>
                CONIC SECTIONS Class 11 Maths<br>
                INTRODUCTION TO THREE DIMENSIONAL GEOMETRY Class 11 Maths<br>
                LIMITS AND DERIVATIVES Class 11 Maths
            </div>

            <div class="content">
                Class 12<br>
                APPLICATION OF DERIVATIVES Class 12 Maths<br>
                APPLICATION OF INTEGRALS Class 12 Maths<br>
                CONTINUITY AND DIFFERENTIABILITY Class 12 Maths<br>
                DETERMINANTS Class 12 Maths<br>
                DIFFERENTIAL EQUATIONS Class 12 Maths
            </div>
        </div>
    </footer>

</body>

</html>
{% endblock content %}