<!DOCTYPE html>
  {% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>doubtnut</title>
</head>
<body>
     <header class="head">
         <nav class="navbar">

              <div class="name">doubtnut</div>
             
              <ul class="nav_links">
             
                <div class="dropdown">
        
                        <li> <a href="">Books</a> </li>
                        <i class="fas fa-chevron-circle-down df "></i>
                      
        
                      <div class="dropdown-content">
                             <a href="">Physics</a>
                             <a href="">Chemistry</a>
                             <a href="">Biology</a>
                             <a href="">Maths</a>
                     </div>
                 </div>

                 <div class="dropdown">
                    <li> <a href="">PDF's</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                         <a href="/pdf">Class 12</a>
                         <a href="">Class 11</a>
                         <a href="">Class 10</a>
                         <a href="">Class 9</a>
                         <a href="">Class 8</a>
                         <a href="">Class 7</a>
                         <a href="">Class 6</a>
                     </div>
                 </div>


                 <div class="dropdown">
                    <li> <a href="">Course</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                            <a href="">NCERT</a>
                            <a href="">IIT JEE</a>
                     </div>
                 </div>


                 <div class="dropdown">
                    <li> <a href="">Exams</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                      <a href="/exams">Allen test Solution</a>
                      <a href="/jeemains">Jee Mains</a>
                      <a href="/jeeadvanced">Jee Advanced</a>
                      <a href="/tenth">X board</a>
                      <a href="/twelveth">XII board</a>
                      <a href="">NEET</a>
                     </div>
                 </div>

                 <div class="dropdown">
                    <li> <a href="">Study Material</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                          <a href="">RD Sharma/RS Agarwal</a>
                          <a href="">NCERT</a>
                          <a href="">NCERT हिन्दी</a>
                          <a href="">Cengage/G. Tiwani</a>
                     </div>
                 </div>

                 <div class="dropdown">
                    <li> <a href="">More</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                       <a href="">Download</a>
                       <a href="">Get App</a>
                       <a href="">About Us</a>
                       <a href="">Careers</a>
                       <a href="">Toppers Talk</a>
                       <a href="">Blog</a>
                     </div>
                 </div>
             
             </ul>
         </nav>

          <h1 style="padding:100px 100px;color: orangered;" >Doubts ? <br>Get Physics, Chemistry, Maths
            Biology <br> Solutions </h1>

        
     </header>
     <div id="arrow-left" class="arrow"></div>    
     <div id="arrow-right" class="arrow" ></div>

     <div class="height">
        <!-- <i class="fas fa-chevron-square-right"></i> -->

          <h1 style="text-align: center;" >NCERT</h1>
        <div class="container">
            
            <div class="oxy" >
              <video src="" controls width="230px" height="150px"></video>
            </div>

            <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>

              <!-- <div class="oxy" >
                <video src="" controls></video>
              </div> -->
                  
        </div>
        
        <!-- <i class="fas fa-arrow-alt-square-right"></i>     -->
     </div>
     
     <!-- <i class="fas fa-arrow-alt-square-right"></i> -->
     
     <div class="height">
        <!-- <i class="fas fa-chevron-square-right"></i> -->

          <h1 style="text-align: center;" >RD Sharma</h1>
        <div class="container">
            
            <div class="oxy" >
              <video src="" controls width="230px" height="150px"></video>
            </div>

            <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>

              <!-- <div class="oxy" >
                <video src="" controls></video>
              </div> -->
                  
        </div>
        
        <!-- <i class="fas fa-arrow-alt-square-right"></i>     -->
     </div>
     
     <!-- <i class="fas fa-arrow-alt-square-right"></i> -->
     
     
     <div class="height">
        <!-- <i class="fas fa-chevron-square-right"></i> -->

          <h1 style="text-align: center;" >CBSE Maths</h1>
        <div class="container">
            
            <div class="oxy" >
              <video src="" controls width="230px" height="150px"></video>
            </div>

            <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>

              <!-- <div class="oxy" >
                <video src="" controls></video>
              </div> -->
                  
        </div>
        
        <!-- <i class="fas fa-arrow-alt-square-right"></i>     -->
     </div>
     
     <!-- <i class="fas fa-arrow-alt-square-right"></i> -->
     

     <div class="height">
        <!-- <i class="fas fa-chevron-square-right"></i> -->

          <h1 style="text-align: center;" >Cengage Maths</h1>
        <div class="container">
            
            <div class="oxy" >
              <video src="" controls width="230px" height="150px"></video>
            </div>

            <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>

              <!-- <div class="oxy" >
                <video src="" controls></video>
              </div> -->
                  
        </div>
        
        <!-- <i class="fas fa-arrow-alt-square-right"></i>     -->
     </div>
     
     <!-- <i class="fas fa-arrow-alt-square-right"></i> -->
     


     <div class="height">
        <!-- <i class="fas fa-chevron-square-right"></i> -->

          <h1 style="text-align: center;" >Class 10th</h1>
        <div class="container">
            
            <div class="oxy" >
              <video src="" controls width="230px" height="150px"></video>
            </div>

            <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>

              <!-- <div class="oxy" >
                <video src="" controls></video>
              </div> -->
                  
        </div>
        
        <!-- <i class="fas fa-arrow-alt-square-right"></i>     -->
     </div>
     
     <!-- <i class="fas fa-arrow-alt-square-right"></i> -->
     


     <div class="height">
        <!-- <i class="fas fa-chevron-square-right"></i> -->

          <h1 style="text-align: center;" >class 12th</h1>
        <div class="container">
            
            <div class="oxy" >
              <video src="" controls width="230px" height="150px"></video>
            </div>

            <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>

              <!-- <div class="oxy" >
                <video src="" controls></video>
              </div> -->
                  
        </div>
        
        <!-- <i class="fas fa-arrow-alt-square-right"></i>     -->
     </div>
     
     <!-- <i class="fas fa-arrow-alt-square-right"></i> -->
     

     <div class="height">
        <!-- <i class="fas fa-chevron-square-right"></i> -->

          <h1 style="text-align: center;" >IIIT JEE MAINS</h1>
        <div class="container">
            
            <div class="oxy" >
              <video src="" controls width="230px" height="150px"></video>
            </div>

            <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>

              <!-- <div class="oxy" >
                <video src="" controls></video>
              </div> -->
                  
        </div>
        
        <!-- <i class="fas fa-arrow-alt-square-right"></i>     -->
     </div>
     
     <!-- <i class="fas fa-arrow-alt-square-right"></i> -->
     


     <div class="height">
        <!-- <i class="fas fa-chevron-square-right"></i> -->

          <h1 style="text-align: center;" >JEE Advanced</h1>
        <div class="container">
            
            <div class="oxy" >
              <video src="" controls width="230px" height="150px"></video>
            </div>

            <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>

              <!-- <div class="oxy" >
                <video src="" controls></video>
              </div> -->
                  
        </div>
        
        <!-- <i class="fas fa-arrow-alt-square-right"></i>     -->
     </div>
     
     <!-- <i class="fas fa-arrow-alt-square-right"></i> -->
     
     <div class="height">
        <!-- <i class="fas fa-chevron-square-right"></i> -->

          <h1 style="text-align: center;" >Latest Blogs</h1>
        <div class="container">
            
            <div class="oxy" >
              <video src="" controls width="230px" height="150px"></video>
            </div>

            <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>

              <!-- <div class="oxy" >
                <video src="" controls></video>
              </div> -->
                  
        </div>
        
        <!-- <i class="fas fa-arrow-alt-square-right"></i>     -->
     </div>
     
     <!-- <i class="fas fa-arrow-alt-square-right"></i> -->
     
     <div class="height">
        <!-- <i class="fas fa-chevron-square-right"></i> -->

          <h1 style="text-align: center;" >Physics</h1>
        <div class="container">
            
            <div class="oxy" >
              <video src="" controls width="230px" height="150px"></video>
            </div>

            <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>

              <!-- <div class="oxy" >
                <video src="" controls></video>
              </div> -->
                  
        </div>
        
        <!-- <i class="fas fa-arrow-alt-square-right"></i>     -->
     </div>
     
     <!-- <i class="fas fa-arrow-alt-square-right"></i> -->
     
     <div class="height">
        <!-- <i class="fas fa-chevron-square-right"></i> -->

          <h1 style="text-align: center;" >Chemistry</h1>
        <div class="container">
            
            <div class="oxy" >
              <video src="" controls width="230px" height="150px"></video>
            </div>

            <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>

              <!-- <div class="oxy" >
                <video src="" controls></video>
              </div> -->
                  
        </div>
        
        <!-- <i class="fas fa-arrow-alt-square-right"></i>     -->
     </div>
     
     <!-- <i class="fas fa-arrow-alt-square-right"></i> -->
     
     <div class="height">
        <!-- <i class="fas fa-chevron-square-right"></i> -->

          <h1 style="text-align: center;" >Biology</h1>
        <div class="container">
            
            <div class="oxy" >
              <video src="" controls width="230px" height="150px"></video>
            </div>

            <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>

              <!-- <div class="oxy" >
                <video src="" controls></video>
              </div> -->
                  
        </div>
        
        <!-- <i class="fas fa-arrow-alt-square-right"></i>     -->
     </div>
     
     <!-- <i class="fas fa-arrow-alt-square-right"></i> -->
     <div class="height">
        <!-- <i class="fas fa-chevron-square-right"></i> -->

          <h1 style="text-align: center;" >Microconcept</h1>
        <div class="container">
            
            <div class="oxy" >
              <video src="" controls width="230px" height="150px"></video>
            </div>

            <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>

              <!-- <div class="oxy" >
                <video src="" controls></video>
              </div> -->
                  
        </div>
        
        <!-- <i class="fas fa-arrow-alt-square-right"></i>     -->
     </div>
     
     <!-- <i class="fas fa-arrow-alt-square-right"></i> -->
     
     <div class="height">
        <!-- <i class="fas fa-chevron-square-right"></i> -->

          <h1 style="text-align: center;" >Latest from doubtnut</h1>
        <div class="container">
            
            <div class="oxy" >
              <video src="" controls width="230px" height="150px"></video>
            </div>

            <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>
        
              <div class="oxy" >
                <video src="" controls width="230px" height="150px"></video>
              </div>

              <!-- <div class="oxy" >
                <video src="" controls></video>
              </div> -->
                  
        </div>
        
        <!-- <i class="fas fa-arrow-alt-square-right"></i>     -->
     </div>
     
     <!-- <i class="fas fa-arrow-alt-square-right"></i> -->
     
     <div id="content-wrap">
       
        
     </div>

     <footer id="footer">
                <h4 style="color: aliceblue; padding-top: 10px; " >Classes</h4>
         <div class="main-content1">
              <div class="content1">
                   NCERT Solution for class 6 Maths
              </div>
               
              <div class="content1">
                NCERT Solution for class 7 Maths
              </div> 

              <div class="content1">
                NCERT Solution for class 8 Maths
               </div>
                
               <div class="content1">
                NCERT Solution for class 9 Maths
               </div>

               <div class="content1">
                NCERT Solution for class 10 Maths
               </div>

               
               <div class="content1">
                NCERT Solution for class 11 Maths
               </div>

               
               <div class="content1">
                NCERT Solution for class 12 Maths
               </div>
         </div>

         <h4 style="color: aliceblue  ; padding-top: 15px;" >Popular Chapter By Class</h4>


          <div class="main-content">
             <div class="content" >
                <p>Class 6</p>
                <p>ALGEBRA Class 6 Maths</p>
                <p>BASIC GEOMETRICAL IDEAS Class 6 Maths</p>
                <p>DATA HANDLING Class 6 Maths</p>
                <p> DECIMALS Class 6 Maths</p>
                <p> FRACTIONS Class 6 Maths</p>               
             </div>

             <div class="content" >
                Class 7 <br>
                ALGEBRAIC EXPRESSIONS Class 7 Maths <br>
                COMPARING QUANTITIES Class 7 Maths <br>
                CONGRUENCE OF TRIANGLES Class 7 Maths<br>
                DATA HANDLING Class 7 Maths<br>
                EXPONENTS AND POWERS Class 7 Maths
            </div>

            <div class="content" >
                Class 8<br>
                ALGEBRAIC EXPRESSIONS AND IDENTITIES Class 8 Maths<br>
                COMPARING QUANTITIES Class 8 Maths<br>
                CUBES AND CUBE ROOT Class 8 Maths<br>
                DATA HANDLING Class 8 Maths<br>
                DIRECT AND INVERSE PROPORTIONS Class 8 Maths
            </div>

            <div class="content" >
                Class 9<br>
                AREAS OF PARALLELOGRAMS AND TRIANGLES Class 9 Maths<br>
                CIRCLES Class 9 Maths<br>
                COORDINATE GEOMETRY Class 9 Maths<br>
                HERONS FORMULA Class 9 Maths<br>
                INTRODUCTION TO EUCLIDS GEOMETRY Class 9 Maths
            </div>

            <div class="content" >
                Class 10<br>
                AREAS RELATED TO CIRCLES Class 10 Maths<br>
                ARITHMETIC PROGRESSIONS Class 10 Maths<br>
                CIRCLES Class 10 Maths<br>
                COORDINATE GEOMETRY Class 10 Maths<br>
                INTRODUCTION TO TRIGONOMETRY Class 10 Maths
            </div>

            <div class="content" >
                Class 11<br>
                BINOMIAL THEOREM Class 11 Maths<br>
                COMPLEX NUMBERS AND QUADRATIC EQUATIONS Class 11 Maths<br>
                CONIC SECTIONS Class 11 Maths<br>
                INTRODUCTION TO THREE DIMENSIONAL GEOMETRY Class 11 Maths<br>
                LIMITS AND DERIVATIVES Class 11 Maths              
            </div>

            <div class="content" >
                Class 12<br>
                APPLICATION OF DERIVATIVES Class 12 Maths<br>
                APPLICATION OF INTEGRALS Class 12 Maths<br>
                CONTINUITY AND DIFFERENTIABILITY Class 12 Maths<br>
                DETERMINANTS Class 12 Maths<br>
                DIFFERENTIAL EQUATIONS Class 12 Maths
            </div>
          </div>
     </footer> 
     
     <script>
         let sliderimage = document.querySelectorAll('.oxy'),
         arrowLeft = document.querySelector('#arrow-left'),
         arrowRight = document.querySelector('#arrow-right'),
         current=0;

         function reset(){
             for(let i =0 ; i<sliderimage.length ;++i){
                 sliderimage[i].style.display = none;
             }
         }

         function startslide(){
             reset();
             let u=0;
             sliderimage[u].style.display='block';
         }

         function slideleft(){
             reset();
             sliderimage[current-1].style.display='block';
             current--;
         }

         function slideright(){
             reset();
             sliderimage[current+1].style.display='block';
             current++;
         }
 
         arrowLeft.addEventListener('click',function(){
             if(current===0){
               current = sliderimage.length;
             }
             slideleft();
         })
         

         arrowRight.addEventListener('click',function(){
             if(current===sliderimage.length-1){
               current = -1;
             }
             slideleft();
         })

         startslide();
     </script>
</body>
</html>