{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="head">
        <div class="up">
            doubtnut
            <form class="search">
                <input type="text" class="form-control" placeholder="Enhanced By Google">
            </form>
        </div>

        <nav class="navbar">
            <ul class="nav_links">

                <div class="dropdown">
                    <li> <a href="">Course</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">NCERT</a>
                        <a href="">IIT JEE</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">Exams</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Allen test Solution</a>
                        <a href="">Jee Mains</a>
                        <a href="">Jee Advanced</a>
                        <a href="">X board</a>
                        <a href="">XII board</a>
                        <a href="">NEET</a>
                    </div>
                </div>


                <div class="dropdown">
                    <li> <a href="">Study Material</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">RD Sharma/RS Agarwal</a>
                        <a href="">NCERT</a>
                        <a href="">NCERT हिन्दी</a>
                        <a href="">Cengage/G. Tiwani</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">Books</a> </li>
                    <i class="fas fa-chevron-circle-down df "></i>

                    <div class="dropdown-content">
                        <a href="">Physics</a>
                        <a href="">Chemistry</a>
                        <a href="">Biology</a>
                        <a href="">Maths</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">PDF's</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Class 12</a>
                        <a href="">Class 11</a>
                        <a href="">Class 10</a>
                        <a href="">Class 9</a>
                        <a href="">Class 8</a>
                        <a href="">Class 7</a>
                        <a href="">Class 6</a>
                    </div>
                </div>

                <li> <a href="">Crash Course</a> </li>
                <li> <a href="">Blog</a> </li>
                <li> <a href="">Dictionary</a> </li>

                <div class="dropdown">
                    <li> <a href="">More</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Download</a>
                        <a href="">Get App</a>
                        <a href="">About Us</a>
                        <a href="">Careers</a>
                        <a href="">Toppers Talk</a>
                        <a href="">Blog</a>
                    </div>
                </div>

            </ul>
        </nav>

    </header>

    <div class="desc-box">
       <div class="desc-box-cont gf">
           <a href=""style="color:blue; float:left;" >All in one pdf</a>
           <a href="" style="color:blue; float:left;" >Mock Test Solutions</a>
           <a href=""style="color:blue; float:left;">JEE Mains January 2020 Solutions PDF</a>
           <a href=""style="color:blue; float:left;">NCERT Solutions PDF</a>
           <a href=""style="color:blue; float:left;">Cengage/G.Tewani Solutions PDF</a>
           <a href=""style="color:blue; float:left;">PDF's for boards</a>
           <a href=""style="color:blue; float:left;">PDF's for IIT JEE</a>
           <a href=""style="color:blue; float:left;">Cut off List</a>
       </div>
    </div>
</body>
</html>