{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>doubtnut</title>
</head>

<body>
    <header class="head">
        <div class="up">
            doubtnut
            <form class="search">
                <input type="text" class="form-control" placeholder="Enhanced By Google">
            </form>
        </div>

        <nav class="navbar">
            <ul class="nav_links">

                <div class="dropdown">
                    <li> <a href="">Course</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">NCERT</a>
                        <a href="">IIT JEE</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">Exams</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Allen test Solution</a>
                        <a href="">Jee Mains</a>
                        <a href="">Jee Advanced</a>
                        <a href="">X board</a>
                        <a href="">XII board</a>
                        <a href="">NEET</a>
                    </div>
                </div>


                <div class="dropdown">
                    <li> <a href="">Study Material</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">RD Sharma/RS Agarwal</a>
                        <a href="">NCERT</a>
                        <a href="">NCERT हिन्दी</a>
                        <a href="">Cengage/G. Tiwani</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">Books</a> </li>
                    <i class="fas fa-chevron-circle-down df "></i>

                    <div class="dropdown-content">
                        <a href="">Physics</a>
                        <a href="">Chemistry</a>
                        <a href="">Biology</a>
                        <a href="">Maths</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">PDF's</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Class 12</a>
                        <a href="">Class 11</a>
                        <a href="">Class 10</a>
                        <a href="">Class 9</a>
                        <a href="">Class 8</a>
                        <a href="">Class 7</a>
                        <a href="">Class 6</a>
                    </div>
                </div>

                <li> <a href="">Crash Course</a> </li>
                <li> <a href="">Blog</a> </li>
                <li> <a href="">Dictionary</a> </li>

                <div class="dropdown">
                    <li> <a href="">More</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Download</a>
                        <a href="">Get App</a>
                        <a href="">About Us</a>
                        <a href="">Careers</a>
                        <a href="">Toppers Talk</a>
                        <a href="">Blog</a>
                    </div>
                </div>

            </ul>
        </nav>

    </header>

    <div class="boxx">
        <div class="box-container">
            <a id="test" href="">Home</a>
            <span>&nbsp;/&nbsp;</span>
            10th Board
            <h1>
                CBSE Previous year Question Paper for Class 10 Maths
            </h1>
            <br>
            <h2>
                Last 12 years Maths Question Paper and Solutions of CBSE Class 10
            </h2>
        </div>
        <br><br>
        <div>
            <p class="about">
                Are you confused about where to begin your homework? What are the most important topics? How to prepare
                for finals? Should do revision or cover those untouched topics? With so many questions in mind, you
                might feel overwhelmed with what to study for the examination? But don’t worry at all! The experts at
                doubtnut.com have curated the complete list of CBSE Previous year question paper for Class 10 to help
                you begin your board exam preparation and revision. Download free CBSE Previous year question paper for
                Class 10 from the links given below.
            </p>
        </div>
        <div class="desc-box">
            <div class="desc-box-cont">
                <a href="" style="color:blue; float:left;">10th board Year 2006 Maths Class 10th</a>
                <a href="" style="color:blue; float:left">10th board Year 2006 Maths Class 10th</a>
                <a href="" style="color:blue; float:left;">10th board Year 2006 Maths Class 10th</a>
                <a href="" style="color:blue; float:left">10th board Year 2006 Maths Class 10th</a>
                <a href="" style="color:blue; float:left;">10th board Year 2006 Maths Class 10th</a>
                <a href="" style="color:blue; float:left">10th board Year 2006 Maths Class 10th</a>
                <a href="" style="color:blue; float:left;">10th board Year 2006 Maths Class 10th</a>
                <a href="" style="color:blue; float:left">10th board Year 2006 Maths Class 10th</a>
                <a href="" style="color:blue; float:left;">10th board Year 2006 Maths Class 10th</a>
                <a href="" style="color:blue; float:left">10th board Year 2006 Maths Class 10th</a>
                <a href="" style="color:blue; float:left;">10th board Year 2006 Maths Class 10th</a>
                <a href="" style="color:blue; float:left">10th board Year 2006 Maths Class 10th</a>
                <a href="" style="color:blue; float:left;">10th board Year 2006 Maths Class 10th</a>
                <a href="" style="color:blue; float:left">10th board Year 2006 Maths Class 10th</a>

            </div>

        </div>
        <div>
            <h2 class="about" style="margin-top: 20px;">
                CBSE Previous year question paper Class 10
            </h2>
            <p class="about" style="margin-top: 20px;">
                Doubtnut offers the best exam preparatory material for students. Get here all the previous year question
                paper and CBSE sample paper for class 10 Maths with solutions for free.
                <br><br>
                Every student must solve the previous year question paper before the examination. These are valuable
                learning source for students to get an idea of upcoming examination, marking scheme and difficulty
                level. The CBSE previous year question paper for class 10 is mentioned in a year-wise manner. Simply
                click on the link of the year of which you wish to download the CBSE previous year question paper. For
                the solution of given previous year question papers, you can go to the DOUBTNUT app, where we provide
                you detailed solutions to all the questions of CBSE previous year question paper for Maths in the video
                tutorial format.
            </p>
            <br>
            <h3 class="about" style="margin-top: 20px;">
                CBSE Previous year question paper Class 10: How to get started?
            </h3>
            <p class="about" style="margin-top: 20px;">
                Mathematics is not about cramming formulas or memorizing step, it about developing the basic concepts
                and regular practice by solving the questions. Therefore, Doubtnut presents to you detailed video
                solutions of CBSE class 10 boards previous year question paper for Maths for you to practice in the
                comfort of your home.

                Our aim towards providing previous year paper is to help the student feel confident to solve a variety
                of Math questions before they appear for their board exams. Given board papers are the best revision
                tools for you to begin examination preparation.
            </p>
        </div>

        <p style="margin-top: 20px;">
        <h3 class="about">
            CBSE Class 10 Maths Question Paper: Advantage
        </h3>
        <p class="about">
            (i) Help students to understand the pattern of questions and difficulty level.
        </p>
        <p class="about">
            (ii) Solving given previous year question paper will boost the confidence level of the student.
        </p>
        <p class="about">
            (iii) It is a great way to revise before the examinations.
        </p>
        <p class="about">
            (iv) Past year questions will help students to develop the problem-solving skills and test their knowledge.
        </p>
        <p class="about">
            (v) Help students to develop speed and accuracy.
        </p>
        <p class="about">
            Scoring in mathematics is easy if you practice regularly and religiously. It is a subject that gives you
            chance to analyze your own performance. While watching the video tutorials you can evaluate your method of
            meeting the answer with the expert’s solution. It will give you a better understanding of your performance
            and better solutions to the problem. You can analyze your performance by watching the video solutions of
            CBSE boards for class 10 previous year Maths question papers.
        </p>

        <h3 class="about">
            CBSE Previous year question papers: Doubtnut
        </h3>
        <p class="about">
            Enjoy the flexibility of learning with Doubtnut – India’s fastest growing e-learning app. The ease of
            learning online delivered in form video tutorials prepared by the IITians and experienced educational
            coaches. Simply open a math video solution and start your board exam preparation right away!
        </p>

        <div>
            <h3 class="about" style="margin-top: 40px;">
                Share this on :-
            </h3>
            <div class="about">
                <button style="background-color:#3b5998; height: 33px; width:100px; border-radius:5px;"><span
                        style="color:white">Facebook</span></button>
                <button style="background-color:#4FCE5D; height: 33px; width:100px; border-radius:5px;"><span
                        style="color:white">Whatsapp</span></button>
            </div>
        </div>
    </div>


    </div>

    <footer id="footer">
        <h4 style="color: aliceblue; padding-top: 10px; ">Classes</h4>
        <div class="main-content1">
            <div class="content1">
                NCERT Solution for class 6 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 7 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 8 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 9 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 10 Maths
            </div>


            <div class="content1">
                NCERT Solution for class 11 Maths
            </div>


            <div class="content1">
                NCERT Solution for class 12 Maths
            </div>
        </div>

        <h4 style="color: aliceblue  ; padding-top: 15px;">Popular Chapter By Class</h4>


        <div class="main-content">
            <div class="content">
                <p>Class 6</p>
                <p>ALGEBRA Class 6 Maths</p>
                <p>BASIC GEOMETRICAL IDEAS Class 6 Maths</p>
                <p>DATA HANDLING Class 6 Maths</p>
                <p> DECIMALS Class 6 Maths</p>
                <p> FRACTIONS Class 6 Maths</p>
            </div>

            <div class="content">
                Class 7 <br>
                ALGEBRAIC EXPRESSIONS Class 7 Maths <br>
                COMPARING QUANTITIES Class 7 Maths <br>
                CONGRUENCE OF TRIANGLES Class 7 Maths<br>
                DATA HANDLING Class 7 Maths<br>
                EXPONENTS AND POWERS Class 7 Maths
            </div>

            <div class="content">
                Class 8<br>
                ALGEBRAIC EXPRESSIONS AND IDENTITIES Class 8 Maths<br>
                COMPARING QUANTITIES Class 8 Maths<br>
                CUBES AND CUBE ROOT Class 8 Maths<br>
                DATA HANDLING Class 8 Maths<br>
                DIRECT AND INVERSE PROPORTIONS Class 8 Maths
            </div>

            <div class="content">
                Class 9<br>
                AREAS OF PARALLELOGRAMS AND TRIANGLES Class 9 Maths<br>
                CIRCLES Class 9 Maths<br>
                COORDINATE GEOMETRY Class 9 Maths<br>
                HERONS FORMULA Class 9 Maths<br>
                INTRODUCTION TO EUCLIDS GEOMETRY Class 9 Maths
            </div>

            <div class="content">
                Class 10<br>
                AREAS RELATED TO CIRCLES Class 10 Maths<br>
                ARITHMETIC PROGRESSIONS Class 10 Maths<br>
                CIRCLES Class 10 Maths<br>
                COORDINATE GEOMETRY Class 10 Maths<br>
                INTRODUCTION TO TRIGONOMETRY Class 10 Maths
            </div>

            <div class="content">
                Class 11<br>
                BINOMIAL THEOREM Class 11 Maths<br>
                COMPLEX NUMBERS AND QUADRATIC EQUATIONS Class 11 Maths<br>
                CONIC SECTIONS Class 11 Maths<br>
                INTRODUCTION TO THREE DIMENSIONAL GEOMETRY Class 11 Maths<br>
                LIMITS AND DERIVATIVES Class 11 Maths
            </div>

            <div class="content">
                Class 12<br>
                APPLICATION OF DERIVATIVES Class 12 Maths<br>
                APPLICATION OF INTEGRALS Class 12 Maths<br>
                CONTINUITY AND DIFFERENTIABILITY Class 12 Maths<br>
                DETERMINANTS Class 12 Maths<br>
                DIFFERENTIAL EQUATIONS Class 12 Maths
            </div>
        </div>
    </footer>

</body>

</html>