{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>doubtnut</title>
</head>

<body>
    <header class="head">
        <div class="up">
            doubtnut
            <form class="search">
                <input type="text" class="form-control" placeholder="Enhanced By Google">
            </form>
        </div>

        <nav class="navbar">
            <ul class="nav_links">

                <div class="dropdown">
                    <li> <a href="">Course</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">NCERT</a>
                        <a href="">IIT JEE</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">Exams</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Allen test Solution</a>
                        <a href="">Jee Mains</a>
                        <a href="">Jee Advanced</a>
                        <a href="">X board</a>
                        <a href="">XII board</a>
                        <a href="">NEET</a>
                    </div>
                </div>


                <div class="dropdown">
                    <li> <a href="">Study Material</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">RD Sharma/RS Agarwal</a>
                        <a href="">NCERT</a>
                        <a href="">NCERT हिन्दी</a>
                        <a href="">Cengage/G. Tiwani</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">Books</a> </li>
                    <i class="fas fa-chevron-circle-down df "></i>

                    <div class="dropdown-content">
                        <a href="">Physics</a>
                        <a href="">Chemistry</a>
                        <a href="">Biology</a>
                        <a href="">Maths</a>
                    </div>
                </div>

                <div class="dropdown">
                    <li> <a href="">PDF's</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Class 12</a>
                        <a href="">Class 11</a>
                        <a href="">Class 10</a>
                        <a href="">Class 9</a>
                        <a href="">Class 8</a>
                        <a href="">Class 7</a>
                        <a href="">Class 6</a>
                    </div>
                </div>

                <li> <a href="">Crash Course</a> </li>
                <li> <a href="">Blog</a> </li>
                <li> <a href="">Dictionary</a> </li>

                <div class="dropdown">
                    <li> <a href="">More</a> </li>
                    <i class="fas fa-chevron-circle-down"></i>
                    <div class="dropdown-content">
                        <a href="">Download</a>
                        <a href="">Get App</a>
                        <a href="">About Us</a>
                        <a href="">Careers</a>
                        <a href="">Toppers Talk</a>
                        <a href="">Blog</a>
                    </div>
                </div>

            </ul>
        </nav>

    </header>

    <div class="boxx">
        <div class="box-container">
            <a id="test" href="">Home</a>
            <span>&nbsp;/&nbsp;</span>
            12th Board
            <h1>
                CBSE Previous year Question Paper for Class 12 Maths
            </h1>
            <br>
            <h2>
                Last 12 years Maths Question Paper and Solutions of CBSE Class 12
            </h2>
        </div>
        <br><br>
        <div>
            <p class="about">
                Doubtnut provides CBSE class 12 boards previous year Maths question papers with video solutions for
                free. This solutions will help all the students who are preparing for Class 12 Boards examinations. We
                provide you step by step and detailed solutions to all the questions of CBSE boards for class 12
                previous year Maths question papers . The board question papers are a valuable learning resource for
                students studying in class 12th. The previous year Maths question papers help students to get familiar
                with the examination pattern . As we know practice makes us perfect , better way to practice to attempt
                previous year Maths question paper of CBSE board class 12. A thorough study of past year Maths question
                papers will help you to understand the pattern of how questions are being asked, so that you are able to
                identify and focus on the important topics that are frequently asked. We provide you yearwise video
                solutions of previous year class 12 boards Maths question papers. while practicing if you are stucking
                in a Math questions of CBSE board class 12 then you can take help from these video solutions. Select
                year to view CBSE previous year question paper for class 12 year-wise.
            </p>
        </div>
        <div class="desc-box">
            <div class="desc-box-cont">
                <a href="" style="color:blue; float:left;">CBSE Class 12 Maths Solutions : 2006</a>
                <a href="" style="color:blue; float:left">CBSE Class 12 Maths Solutions : 2006</a>
                <a href="" style="color:blue; float:left;">CBSE Class 12 Maths Solutions : 2006</a>
                <a href="" style="color:blue; float:left">CBSE Class 12 Maths Solutions : 2006</a>
                <a href="" style="color:blue; float:left;">CBSE Class 12 Maths Solutions : 2006</a>
                <a href="" style="color:blue; float:left">CBSE Class 12 Maths Solutions : 2006</a>
                <a href="" style="color:blue; float:left;">CBSE Class 12 Maths Solutions : 2006</a>
                <a href="" style="color:blue; float:left">CBSE Class 12 Maths Solutions : 2006</a>
                <a href="" style="color:blue; float:left;">CBSE Class 12 Maths Solutions : 2006</a>
                <a href="" style="color:blue; float:left">CBSE Class 12 Maths Solutions : 2006</a>
                <a href="" style="color:blue; float:left;">CBSE Class 12 Maths Solutions : 2006</a>
                <a href="" style="color:blue; float:left">CBSE Class 12 Maths Solutions : 2006</a>
                <a href="" style="color:blue; float:left;">CBSE Class 12 Maths Solutions : 2006</a>
                <a href="" style="color:blue; float:left">CBSE Class 12 Maths Solutions : 2006</a>


            </div>

        </div>
        <div>
            <p class="about" style="margin-top: 20px;">
                Students who are preparing for class 12 Boards exams are suggested to solve CBSE previous year question
                paper for class 12 Maths. Doubtnut give you the best package of previous year question paper and CBSE
                sample paper for class 12 Maths with solutions for free. We provide you detailed or step by step
                solutions to all the questions of CBSE previous year question paper for Maths which have been reviewed
                by our best Maths teachers of Doubtnut. Mathematics is not only about learning it about understanding
                the concepts and practising it by solving the questions.

                Get here accurate , detailed video solutions to each questions of previous year paper of Maths for Class
                12 boards. Doubtnut offers you free video solutions of CBSE class 12 boards previous year paper for
                Maths in which all video solutions are explained in a detailed and step by step way and which have been
                reviewed by our Maths experts following up the CBSE guidelines.We provide most effective solutions which
                will help students to understand the pattern of questions which would come in the examinations. Here is
                the list of last 5 important years of XII Boards Maths Solutions.
            </p>
        </div>

        <p style="margin-top: 20px;">
        <h3 class="about">
            The importance of practising Board Paper for class 12 are :-
        </h3>
        <p class="about">
            (i) It will help students to understand the pattern of questions coming in Boards exam
        </p>
        <p class="about">
            (ii)It will give idea to all the students about the marking scheme.
        </p>
        <p class="about">
            (iii)It will help all the students to develop problem solving skills and boost their confidence level.
        </p>
        <p class="about">
            (iv)It is a great way to revise before exams.
        </p>


        <div>
            <h3 class="about" style="margin-top: 40px;">
                Share this on :-
            </h3>
            <div class="about">
                <button style="background-color:#3b5998; height: 33px; width:100px; border-radius:5px;"><span
                        style="color:white">Facebook</span></button>
                <button style="background-color:#4FCE5D; height: 33px; width:100px; border-radius:5px;"><span
                        style="color:white">Whatsapp</span></button>
            </div>
        </div>
    </div>


    </div>

    <footer id="footer">
        <h4 style="color: aliceblue; padding-top: 10px; ">Classes</h4>
        <div class="main-content1">
            <div class="content1">
                NCERT Solution for class 6 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 7 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 8 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 9 Maths
            </div>

            <div class="content1">
                NCERT Solution for class 10 Maths
            </div>


            <div class="content1">
                NCERT Solution for class 11 Maths
            </div>


            <div class="content1">
                NCERT Solution for class 12 Maths
            </div>
        </div>

        <h4 style="color: aliceblue  ; padding-top: 15px;">Popular Chapter By Class</h4>


        <div class="main-content">
            <div class="content">
                <p>Class 6</p>
                <p>ALGEBRA Class 6 Maths</p>
                <p>BASIC GEOMETRICAL IDEAS Class 6 Maths</p>
                <p>DATA HANDLING Class 6 Maths</p>
                <p> DECIMALS Class 6 Maths</p>
                <p> FRACTIONS Class 6 Maths</p>
            </div>

            <div class="content">
                Class 7 <br>
                ALGEBRAIC EXPRESSIONS Class 7 Maths <br>
                COMPARING QUANTITIES Class 7 Maths <br>
                CONGRUENCE OF TRIANGLES Class 7 Maths<br>
                DATA HANDLING Class 7 Maths<br>
                EXPONENTS AND POWERS Class 7 Maths
            </div>

            <div class="content">
                Class 8<br>
                ALGEBRAIC EXPRESSIONS AND IDENTITIES Class 8 Maths<br>
                COMPARING QUANTITIES Class 8 Maths<br>
                CUBES AND CUBE ROOT Class 8 Maths<br>
                DATA HANDLING Class 8 Maths<br>
                DIRECT AND INVERSE PROPORTIONS Class 8 Maths
            </div>

            <div class="content">
                Class 9<br>
                AREAS OF PARALLELOGRAMS AND TRIANGLES Class 9 Maths<br>
                CIRCLES Class 9 Maths<br>
                COORDINATE GEOMETRY Class 9 Maths<br>
                HERONS FORMULA Class 9 Maths<br>
                INTRODUCTION TO EUCLIDS GEOMETRY Class 9 Maths
            </div>

            <div class="content">
                Class 10<br>
                AREAS RELATED TO CIRCLES Class 10 Maths<br>
                ARITHMETIC PROGRESSIONS Class 10 Maths<br>
                CIRCLES Class 10 Maths<br>
                COORDINATE GEOMETRY Class 10 Maths<br>
                INTRODUCTION TO TRIGONOMETRY Class 10 Maths
            </div>

            <div class="content">
                Class 11<br>
                BINOMIAL THEOREM Class 11 Maths<br>
                COMPLEX NUMBERS AND QUADRATIC EQUATIONS Class 11 Maths<br>
                CONIC SECTIONS Class 11 Maths<br>
                INTRODUCTION TO THREE DIMENSIONAL GEOMETRY Class 11 Maths<br>
                LIMITS AND DERIVATIVES Class 11 Maths
            </div>

            <div class="content">
                Class 12<br>
                APPLICATION OF DERIVATIVES Class 12 Maths<br>
                APPLICATION OF INTEGRALS Class 12 Maths<br>
                CONTINUITY AND DIFFERENTIABILITY Class 12 Maths<br>
                DETERMINANTS Class 12 Maths<br>
                DIFFERENTIAL EQUATIONS Class 12 Maths
            </div>
        </div>
    </footer>

</body>

</html>