*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head{
    background-color: orangered;
    color: aliceblue;
    height: 100px;
    font-weight: bold;
}

.up{
    display: flex;
    padding-left: 50px;
    padding-top: 10px;
    font-size: 19px;
    outline: none;
    border: none;
}

.search{
    margin-left:22%;
    outline: none;
    border: none;
}


.form-control{
    width:250%;
    height:35px;
    border-radius: 10px;
}

.nav_links{
    display: inline-flex;
    justify-content: space-around;
    margin-right: 20px;
    margin-left: 10px;
    padding-left: 20px;
    list-style-type: none;
    text-decoration: none;
    padding-top:15px
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size:17px;
}

.nav_links li{
    display: inline-flex;
    padding: 10px 20px;
    font-size: 20px;
}


.dropdown {
    float: left;
    overflow: hidden;
    margin-right:30px
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color:lightsalmon;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
}

#footer{
    font-size: 14px;
    height: 40rem;
    position: relative;
    background-color: black;
    bottom: 0px;
    width: 100%;
}

#content-wrap{
    padding-bottom: 20rem;
}

.main-content1{
    display: flex;
    flex: 15%;
    color: #f9f9f9;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 12px;
}

.content1{
    padding: 10px;
    flex-basis: 15%;
}


.main-content{
    display: flex;
    flex:1 0 21%;
    color: #f9f9f9;
    flex-wrap: wrap;
    padding: 20px;
}

.content{
      padding: 20px;
      flex-basis: 25%;
}

body{
    background-color: lightgrey;
}

.boxx-content{
    background-color: white;
    height:68px;
    width: 35%;
    margin-left:27%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 18px 10px;
    font-size: 25px;
    font-weight: 500;
}

#test{
    color:black
}

footer{
    margin-top: 5px;
}


.box-container{
    margin-left:100px;
    margin-top:60px;
}

.pdf-div{
    margin:40px 100px 10px 100px ;
    height:100px;
}

.about{
    margin:0px 100px 10px 100px;
}

.desc-box{
    background-color: white;
    width:1300px;
    height:400px;
    margin:40px 100px 10px 100px;
    box-shadow: 6px 6px 6px 6px rgba(0,0,0,.6);
    border-radius: 10px;
}

.desc-box-cont a{
    padding-top:30px;
    padding-left:30px;
    margin-right: 300px;
}

.gf{
    flex-basis: 50%;
}
